<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
                        <div class="col-lg-4 col-sm-6">
                <a href="https://storymaps.arcgis.com/stories/b4b113502bb54eb7b5118192e2018065" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Intersectional Environmentalism
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
                        <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Ecofeminism
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
                        <div class="col-lg-4 col-sm-6">
                <a href="https://express.adobe.com/page/xNgukWjyqEnYi/" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Environmental Justice
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Climate Justice
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/8.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Just Transition
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/17.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Tree Equity
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/14.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Food Justice
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/18.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Degrowth
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/16.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Decolonial Environmentalism
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
