<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Other info</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user wow bounceIn text-primary"></i>
                    <h3>Creator</h3>
                    <a href="https://news.extension.uconn.edu/2023/01/26/qa-with-dr-mayra-rodriguez-urban-community-forestry-educator/" class="text-muted" target="_blank">Dr. Mayra Rodríguez is an educator in Urban and Community Forestry at UConn Extension.</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lightbulb-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Inspired by</h3>
                    <a href="https://www.greengirlleah.com/" class="text-muted" target="_blank">The project's name was inspired by Leah Thomas' "The Intersectional Environmentalist: How to Dismantle Systems of Oppression to Protect People + Planet". We hope that as with Thomas' book, this archive can be used as a tool that "promotes awareness of the fundamental truth that we cannot save the planet without uplifting the voices of its people".</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-question wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>How to</h3>
                    <a href="" class="text-muted" target="_blank">Curious about story maps? Learn how to make your own by clicking here.</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Nws</h3>
                    <a href="https://news.extension.uconn.edu/" class="text-muted" target="_blank">Find out other ways in which UConn educators are translating science into action.</a>
                </div>
            </div>
        </div>
    </div>
</section>
